.header .mobile-menu-btn {
  margin-left: auto;
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
}

.mobile-menu-btn-icon {
}
